.flex-container {
    display: flex;
    justify-content: center;
  }
  .flex-container-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  
  }
  .responsive {
    width: 100%;
    height: auto;
  }